.task-list {
  list-style-type: none;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1a171d;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.task {
  color: #ffffff;
  font-size: 20px;
  margin-left: 20px;
}

.task-button {
  color: #475569;
  background-color: #f3aa4e;
  border-radius: 10px;
  padding: 8px;
  border: 0px;
  height: 30px;
  font-size: 15px;
  font-weight: 450;
  margin-top: 15px;
  margin-right: 20px;
}

.task-header {
  color: #ffffff;
  margin-top: 0px;
  margin-left: 0px;
}
